@inherits LayoutComponentBase

<div class="main">
    <div style="padding-top:5px; padding-bottom:1px; padding-left:1px; background-color:black; color:white;">
        <h4>Stock Tracker</h4>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>
